.chrome-picker {
  width: auto !important;
}

.color-cell-container {
  overflow: auto;
  /*
  height: 30vh;
  */
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-bottom: 5px;
  padding: 5px;
}

.color-cell {
  width: 2em;
  height: 2em;
  margin: 2px;
  border-radius: 2px;
  border-color: black;
  border-style: solid;
  cursor: pointer;
}

.color-cell.active {
  outline-color: white;
  outline-width: 3px;
  outline-style: auto;
}

.add-cell-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border-color: white;
  border-width: 2px;
  color: white;
}

.add-cell-btn > i {
  margin: 0;
  height: auto;
}

/* Only hover for non-touch devices */
@media (hover: hover) {
  .add-cell-btn:hover {
    color: var(--hover-color);
    border-color: var(--hover-color);
  }
}
