.chrome-picker {
  width: auto !important;
}

.color-cell-container {
  overflow: auto;
  height: 30vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;
  margin-bottom: 5px;
}

.color-cell {
  width: 2em;
  height: 2em;
  margin: 2px;
  border-style: solid;
  border-radius: 2px;
}

.color-cell.active {
  outline-color: white;
  outline-width: 3px;
  outline-style: outset;
}
